/* Rest and common styles*/
*{
margin: 0;
padding: 0;
outline: none; 
box-sizing: border-box ;
text-decoration: none;
list-style-type: none;
font-family: "jost",sans-serif;
font-weight: 400;
}


html{

    font-size: 62.5%;
    scroll-behavior: smooth;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.section-heading{
    font-size: 5rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 15rem;
    border-bottom: .3rem solid black;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
}


/*End of Rest and common styles */




/*section 1 */

.section-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,.2),rgba(255, 255,255,.3)), url(images/bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

.section-1-heading{
    font-size: 6rem;
    font-weight: 700;
    color: aliceblue;
    background-color:crimson;
    padding: 0 1rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: .3rem solid #fff;
    text-shadow: .2rem .2rem 1rem #555;
    transform: skew(-10deg);

}
.person-img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
    border: .7rem dotted #070607;
    background-color: rgba(255,255,255,0.7);
    padding: .5rem;
    opacity: 0.9;

}
.person-name{
    font-size: 2rem;
    color: white;
    background-color: red;
    margin: 5rem 0;
    padding: 1rem 3rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);

}
.section-1-btn{
    font-size: 1.7rem;
    font-weight: 700;
    color: #070607;
    background-color: white;
    border: .3rem solid black;
    padding: .5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

}

/*End of section1 */
/* Navbar */
.Navbar{
    width: 100%;
    height: 4rem;
    background-color: red;
    box-shadow: .2rem .2rem .5rem blueviolet;
    position: absolute;
    z-index: 300;
}
.sticky{
    position: fixed;
    top: 0;
}
.Navbar-link{
    font-size: 1.7rem;
    font-weight: 600;
    color: #070607;
    margin: 0 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
}
.change.navbar-Link{
color: white;
}

.Navbar-link:hover{
    color: white;


}
.Navbar-link::before{
    content: "";
    width: 0%;
    height: 0.2rem;
    background-color: white;
    position: absolute;
    right: -15%;
    bottom: -0.3rem ;
    transition: width 0.2s;
}
.change.Navbar-link::before{
    width: 130%;
}
.Navbar-link:hover::before{
    width: 130%;
}
.change.Navbar-link::before{
    width: 130% ;
}

/* End Navbar */

/*section*/
.section-2{
    width: 100%;
    height: 100%;
    padding: 15rem 0 10rem 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.progress-bars-wrapper{
    margin-bottom: 5rem;

}
.progress-bar{
    width: 60rem;
    height: 3rem;
    background-color: #ccc;
    margin: 1.5rem 0;
    border-radius: .3rem;
    box-shadow: .2rem .2rem 1rem #555;
    position: relative;
}
.progress-text{
position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    color: white;
}
.progress-text span{
    margin: 0 0 .5rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.progress-percent{
    width: 0;
    height: 100%;
    background-color: #e41c6f;
    border-radius: 0.3rem;
    transition: width 0.5s 0.5s ease-in-out;
}
.services{
    width: 0;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service{
    text-align: center;
}
.service:first-child, .service:last-child{
    align-self: flex-start;
}

.service i{
    font-size: 10rem;
    color: #888;
    margin-bottom: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem #555;
}
.service h2{
    font-size: 2rem;
    color: white;
    background-color: #777;
    width: 25rem;
    letter-spacing: .3rem;
    transform: skew(-10deg);
    box-shadow: .2rem .2rem .5rem #555;
}
/*End of section2*/
/*section3*/
.section-3{
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.project-wrapper{
    width: 100%;
    flex-wrap: wrap;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: white;
    box-shadow: .3rem .3rem .5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow .5s;
}
.project:hover {
    box-shadow: 1rem 1rem 1rem #777;
}
.project-text{
    text-align: center;
    letter-spacing: .1rem;
    position: absolute;
    top: -10rem;
    z-index: 10;
    transition: top .5s;
}
.project:hover .project-text{
    top: 5rem;
    transition: top .3s .3s;
}
.project-name{
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    text-transform: capitalize;
}
.project-technologies{
    font-size: 1.8rem;
    color: #e41c6f;
}
.project-img{
    width: 40rem;
    transition: opacity.3s;
}
.project:hover .project-img{
    opacity: .2;
}
.project-link{
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    letter-spacing: .1rem;
     border: .3rem solid #e41c6f;
    padding: 0 1rem;
    background-color: white;
    position: absolute;
    bottom: -5rem;
    transition: bottom .3s;
}
.project:hover .project-link{
    bottom: 5rem;
    transition: bottom.3s .3s;
}
/*End of section3*/

/*section4*/
.section-4{
    width: 100%;
    height: 70vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-4-heading{
    color: white;
    box-shadow: none;
    border-color: white;
    margin-bottom: 5rem;

}
.contact-form{
    width: 50rem;
    flex-direction: column;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
    background-color: white;
    font-size: 1.5rem;
    border: .2rem solid #e41c6f;
    color: black;
}
.contact-form textarea{
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
}
.contact-form .contact-form-btn{
    background-color: #e41c6f;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1rem;
    cursor: pointer;
}
/*End of section4*/

/* section 5 */
.section-5{
    width: 100%;
    height: 30vh;
    background-color: #222;
    flex-direction: column;
}
.social-media{
    margin-bottom: 5rem;
}
.social-media-link{
    margin: 0 2rem;
    padding: .7rem;
    background-color: #e41c6f;
    border-radius: .5rem;
    display:inline-block;
}
.social-media-link i{
    font-size: 3rem;
    color: white;
 }
.copyright{
    color: #aaa;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 300;
    text-align: center;
}

/* End of section 5 */

/*Responsive*/
@media(max-width: 1200px){
    .services{
        height: auto;
        flex-wrap: wrap;
    }
    .service{
        margin: 3rem 2rem;
    }
    .section-4{
        height: 80vh;
    }
}
@media(max-width: 800px){
    .section-1-heading{
        font-size: 4rem;
    }
    .progress-bar{
        width: 50rem;

    }
.navbar-Link{
    margin: 0 2rem;
    font-size: 1.5rem;
}
.section-2{
    padding: 10rem;
}
.section-2-heading{
    margin-bottom: 10rem;
}
.progress-bar{
    width: 45rem;
}
.project-img{
    width: 100%;
}
.contact-form{
    width: 40rem;
}
.copyright{
    width: 70%;
}
}
@media(max-width: 500px){
    html{
        font-size: 55%;

    }
}
@media(max-width: 450px){
    html{
        font-size: 45%;
    }
    .section-1-heading{
        font-size: 2.5rem;
    }
    .navbar-Link{
        margin: 0 1.5rem;
    }
    .section-2-heading{
        text-align: center;
    }
    .progress-bar{
        width: 40rem;
    }

}
/*End of Responsive*/
